@font-face {
  font-family: "BPchildLefty";
  src: local("BPchildLefty"),
    url("/public/fonts/BPchildLefty.ttf") format("truetype");
  /* src: url("/public/fonts/BPchildLefty.ttf") format("open"); */
  /* url("/public/fonts/Quicksand-Light.woff") format("woff"); */
  font-weight: 300;
  font-style: normal;
}

.App {
  background-image: url(../../public/images/DemonIllustration.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 20px 0px;
  background-color: #000000;
}

.hideBanner {
  display: none;
}

.uper__box {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: red;
}

#voloff {
  cursor: pointer;
}

.social__icons {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
}
.social__icon {
  outline: none;
  margin: 0px 30px;
}
.social__icon > img {
  height: 70px;
  cursor: pointer;
  transition: 0.15s;
}
.disabled {
  opacity: 0.5;
}
.social__icon:hover > img {
  transform: rotate(-10deg);
}

.goblin_bg > h2 {
  font-size: 42px;
  margin-top: 11px;
}

.img_conect1 {
  transition: all 0.3s ease-in-out;

  width: 42%;
}

.img_conect1:hover {
  transform: scale(1.1);
}

.connect__pos {
  max-width: -moz-fit-content;
  max-width: fit-content;
  z-index: 99;
  position: fixed;
  top: 12px;
  right: 15px;
  pointer-events: initial !important;
  transition: opacity 0.5s ease-in-out;
}

.flex_32 {
  display: flex;
  justify-content: end;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.video__box {
  position: relative;

  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  mix-blend-mode: overlay;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.add__opcaity {
  opacity: 1 !important;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.text {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
}

.video__btn {
  width: 20%;
}
