@font-face {
  font-family: DemonsAndDarlings;
  src: url("../../public/images/DemonsAndDarlings.ttf") format("truetype");
}

*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
  --font: DemonsAndDarlings;
  --font-alt: DemonsAndDarlings-alt;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/836/hearthstone-cursor.png)
      10 2,
    auto;

  overflow-x: hidden;
}

.img_conect1 {
  cursor: pointer;
}

code {
  font-family: var(--font), monospace;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #592e2c;
}

body::-webkit-scrollbar-thumb {
  background-color: #fa4a03;
  border-radius: 50px;
}
