@font-face {
  font-family:blue-goblet;
  src: url('../../public/images/BlueGobletBold.otf');
}

*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
  --font: blue-goblet;
  --font-alt: blue-goblet-alt;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  margin: 0;
  font-family:var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:var(--font),
    monospace;
}
